::-webkit-scrollbar {
	width: 10px;
}

::-webkit-scrollbar-track {
	background: none;
}

::-webkit-scrollbar-thumb {
	background: rgba(0, 0, 0, 0.2);
}
::-webkit-scrollbar-thumb:hover {
	background: rgba(0, 0, 0, 0.3);
}

#main-container {
	width: 100vw;
	height: 100vh;
}

#navbar {
	background: #009688;
}

.dropdown-toggle::after {
	display: none;
}

.chat-list-item {
	background: white;
	cursor: pointer;
}

.chat-list-item:hover {
	background: hsl(0, 0%, 95%);
}

.chat-list-item:active {
	background: hsl(0, 0%, 85%);
}

.chat-list-item.active {
	background: hsl(0, 0%, 90%);
}

.chat-list-item .chat-details {
	width: 60%;
}

.chat-list-item.unread .name,
.chat-list-item.unread .last-message {
	font-weight: bold;
}

.chat-list-item .last-message,
#message-area #navbar #details {
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}
